/* css styling */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

nav{
  background-color: #344D67;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav h2{
  margin: 0 10px;
}

nav ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li{
  margin: 15px;
  display: flex;
  align-self: flex-end;
}

nav a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover{
  color: #F3ECB0;
  font-weight: bold;
}

main{
  display: flex;
  flex-direction: column;
}

.introduce{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: EEF2E6;
}

.introduce p{text-align: center;}

table{
  display: flex;
    border-collapse: collapse;
    width: 100%;
}

table th, td{
  color: #000000;
  text-align: left;
  padding: 8px;
}

table tr:nth-child(even) {background-color: #969696;}

footer{
  background-color: #344D67;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer .content{
  display: flex;
  justify-content: space-around;
}

.address{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 20px;
  width: 25%;
}

.address h2{
  font-size: 24px;
  margin: 10px 0px;
  padding: 0;
  text-align: left;
}

.address p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: left;
}

.sosmed{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.sosmed ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.sosmed h3{
  font-size: 24px;
  margin: 10px 0px;
  padding: 0;
}

.sosmed a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.sosmed a:hover{
  color: #F3ECB0;
  font-weight: bold;
}

.foot-note{
  background-color: #083C5A;
  font-weight: bold;
}
 
@media screen and (max-width: 900px) { 
    .wrapper .card-container { 
        grid-auto-columns: calc((100% / 2) - 9px); 

    } 
} 
  
@media screen and (max-width: 600px) { 
    .wrapper .card-container { 
        grid-auto-columns: 100%; 
  
    } 
}

@media screen and (max-width: 768px) {
  nav {
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  nav h2 {
    margin: 10px 0;
  }

  nav ul {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }

  .address{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .content {
    flex-direction: column;
  }

  .form-registration{
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  table{
    width: 100%;
    display: flex;
  }

  table tr{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .address,
  .sosmed,
  .form-registration {
    margin-bottom: 20px;
  }

  .foot-note{width: 100%;}
}
